@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>WHAT DID YOU LOSE TODAY?</h1>
        <p class="lead">Help is on the way. Solutions for lost items are here.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> 
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Report Lost Item</h2>
        <p>
            Report your lost item here free of charge, so you can find items that you lost. 

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Your Item</h2>
        <p>We will send you notifications as soon as we have found your item so you won't worry anymore.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Report Found Item</h2>
        <p>Report your found item here. Be a part of our Find Lost Thing family.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>